name: Build and publish docker image

on:
  push:
    branches:
      - main
  workflow_dispatch:
  workflow_run:
    workflows:
      - maven
    type:
      - complete

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

#      - name: Login to Docker Hub
#        uses: docker/login-action@v2
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
#
#      - name: Build and push docker image
#        uses: docker/build-push-action@v4
#        with:
#          push: true
#          tags: user/app:latest